.buttonDates {
  background-color: #b6543a !important;
  border-color: #b6543a !important;
  border-radius: 0 !important;
  width: 100%;
  box-shadow: 0 0 4px 0 #9e9e9e !important;
  font-family: "Patrick Hand", Arial;
  font-size: 1.3em !important;
}

.blockButtons {
  padding: 15px;
  text-align: center;
}


