
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");

@import url("https://fonts.googleapis.com/css?family=Questrial");

.buttonsContainer{
    max-width:800px ;
    height:100%
    /* display: flex;
    flex-direction: column;
    padding-left:0 !important;
    padding-right:0 !important; */
    }
    
    
.titleWho{
    font-size: 15vmin;
    font-family: "Questrial", Arial, serif;
    /* font-style: normal;
    font-weight: 400; */
    justify-content: center;
    height: 30vmin;
    color: #4b4b4b;
    /* margin-left:5vmin; */
    margin-bottom: 10vmin;
}


.buttonFilter{
    display: flex;
    font-family: "Patrick Hand", cursive;
    color: #4b4b4b;
    font-size: 1em;
    background-color: white;
    box-shadow: 0 0 8px 0 #9E9E9E;
    border-color: white;
    border-radius: 1px;
    margin-bottom: 4vmin;
    width: 80vw;
    height: 14vmin;
}



.logoFilter{
    height:6vmin;
    margin-right:6vmin;
}

.textButton{
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    margin-left: 7vmin;
}

.textButton2{
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    margin-left: 14vmin;
}

.textButton3{
    display: flex;
    justify-content: center;
    font-size: 5vmin;
    margin-left: 2vmin;
}

.logoFilter1{
height: 8vmin;
width: 9vmin;
margin-right:6vmin
}

.logoFilter2{
    height: 8vmin;
    width: 10vmin;
    margin-right:2vmin
}
