@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
@import url("https://fonts.googleapis.com/css?family=Questrial");

.containerOu {
  box-sizing: border-box;
  size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5vmin;
  margin-bottom: 0vmin;
}

.titleOu {
<<<<<<< HEAD
  font-size: 20vmin;
  font-family: "Questrial", Arial, sans-serif;
=======
  font-size: 15vmin;
  font-family: "Questrial", Arial, sans-serif;
  font-weight: bold;
>>>>>>> 108743bd83ae23657210dd9ef57357cec7ef275e
  color: #4b4b4b;
  text-align: center;
  margin-top: 0vmin;
  padding-top: 0;
  margin-bottom: 4vmin;

}
.buttonFilterMonica {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 8px 0 #9e9e9e;
  border-radius: 1px;
  border-color: white !important;
  margin-bottom: 5vmin;
  align-items: baseline;

}

.titleFilter {
  font-size: 5vmin;
  color: #4b4b4b;
  font-family: "Patrick Hand", Arial, cursive;
  
}

.buttonFilterMonica img{
      width: 10vmin;
  
}
