@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");

.header {
  top: 0;
  max-width: 900px;
  max-height: 25vmin;
  background-color: transparent;
  font-family: "Patrick Hand", Arial, cursive;
  font-size: 5vmin;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}

.headerRow {
  justify-content: space-between;
}

.headerLogo {
  float: left;
  padding-left: 15px;
}

.headerLogoBack {
  float: left;
  padding-left: 13vmin;
}

.headerLogo img {
  width: 17vmin;
}

.headerLogoBack img {
  width: 17vmin;
}

.headerPhrase {
  float: right;
  padding-right: 15px;
}
