.buttonDates {
  background-color: #b6543a !important;
  border-color: #b6543a !important;
  border-radius: 0 !important;
  width: 100%;
  box-shadow: 0 0 4px 0 #9e9e9e !important;
  font-family: "Patrick Hand", Arial;
  font-size: 5vmin !important;
  text-align: center !important;
  padding: 2vmin 0 2vmin 0;
}

.blockButtons {
  padding: 15px 0 15px 0;
  text-align: center;
}
