
/* @media only screen and (max-width: 361px) {
    .title2Loire{
        font-size: 8px;
    }

} */


.header{
    display: flex;
    height: 60px;
    width:100%;
  }
  .logo {
    display :flex;
    justify-content: flex-start;
    height: 60px;
    width: 60px;
    background-image: url('https://i.postimg.cc/ZYdYfqbK/loire-en-vert50.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .titleHeader{
    display: flex;
    flex-direction: column;
    height: 60px;
  }
  .titleLoire {
    display: flex;
    color: rgb(148, 165, 133);
    font-size: 25px;
    margin: 5px 0 -5px 5px;
  }
  .title2Loire{
    display: flex;
    flex-wrap: wrap;
    color: rgb(180, 101, 71);
    font-size: 12px;
    margin: 5px 0 -5px 5px;
  }
