@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
@font-face {
  font-family: "Old Press";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/old_press-webfont.woff");
}
@import url("https://fonts.googleapis.com/css?family=Questrial");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.App {
  background-image: url(./assets/fond.jpg);
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-attachment: fixed;
}

.mainContainer {
  padding-top: 10px;
  min-height: 225vmin;
}

/*composant EventDetails*/

.inscription-button {
  background-color: #58a728;
  border-color: #58a728;
  font-family: "Patrick Hand", Arial, sans-serif;
  font-size: 1.6em;
  margin-left: 30%;
}

@media screen and (min-width: 576px) {
  .inscription-button {
    margin-left: 37%;
  }
}

@media screen and (min-width: 768px) {
  .inscription-button {
    margin-left: 40%;
  }
}

.type-eventDetails {
  font-family: "Patrick Hand", Arial, sans-serif;
  font-size: 1em;
  color: #4b4b4b;
}

.qui-eventDetails {
  font-family: "Patrick Hand", Arial, sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  margin-top: 15vmin;
  margin-bottom: 0;
}

.ou-eventDetails {
  font-family: "Patrick Hand", Arial, sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  margin-top: 2vmin;
  margin-bottom: 0;
}

.place-eventDetails {
  font-family: "Patrick Hand", Arial, sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  margin-top: 2vmin;
  margin-bottom: 0;
}

.city-eventDetails {
  font-family: "Patrick Hand", Arial, sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  margin-top: 2vmin;
  margin-bottom: 0;
}

.description-event {
  font-family: "Questrial", Arial, sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  padding: 2vmin 0 0 0;
}

/*Marion: pour rendre bouton actif*/

.toggled {
  background-color: #2f70e1;
  color: #fff;
}

/* Julie : NavBar, et tout ce qui en dépend */

.navbar {
  z-index: 99999;
  background-color: #b6543a;
  position: fixed;
  overflow: hidden;
  bottom: 0 !important;
  width: 100%;
  padding: 0.8rem 1rem !important;
}
.icon {
  padding-left: 10%;
}
.menuB {
  color: #4b4b4b !important;
  width:100% !important;
}
.menuB a:link {
  color: #4b4b4b !important;
}
.menuB a:visited {
  color: #4b4b4b !important;
}
.menuB a:active {
  color: #4b4b4b !important;
}

.menuBurger {
  margin-top: 90px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #4b4b4b;
  border-top: 1px solid #4b4b4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.menuB {
  font-family: "Patrick Hand", Arial, sans-serif;
  font-size: 2.2em;
  border: 1px solid #4b4b4b;
  padding-left: 15px;
  width: 100vw;
  height: 12, 5vh;
}

.espace {
  height: 90px;
  width: 100%;
}

.colMenuPages {
  padding: 0;
}
.contentMenuPages {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Questrial", Arial, serif;
  color: #4b4b4b !important;
}
.texteQuiSommesNous {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Questrial", Arial, sans-serif;
  color: #4b4b4b !important;
  margin-bottom: 50px;
}

.imgpart {
  display: flex;
  margin-top: 30px;
  margin: 0 auto;
  width: 150px;
}

.cardMenuPages {
  border-radius: 0;
}

.contentMenuPages .row {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.part {
  margin-top: 30px;
}

/* Map */

.map {
  height: 64vh;
  width: 100%;
}
